body {
  font-size: 17px;
  font-family: "Didact Gothic", sans-serif;
  color: #333333;
  background-color: #D2D7D3;
  overflow-x: hidden; }

a, a:hover, a:focus {
  outline: none; }

.logoCont {
  text-align: center;
  margin: 20px 0; }
  .logoCont .logoImg {
    display: block; }
  .logoCont .logoTxt {
    font-size: 35px; }

.loginCont {
  text-align: center;
  background-color: #34495E;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto; }
  .loginCont .form-group {
    display: block; }
  .loginCont input {
    border-radius: 0;
    border: 0 none; }
  .loginCont button[type="submit"], .loginCont .btn {
    border-radius: 0;
    border: 0 none;
    background-color: #00BFC0;
    color: #ffffff;
    transition: background-color 0.3s ease-in;
    padding: .5rem 3rem;
    font-size: 18px;
    font-weight: 600; }
    .loginCont button[type="submit"]:hover, .loginCont .btn:hover {
      background-color: #B25900;
      color: #ffffff; }

.menuCont {
  background-color: #34495E;
  color: #ffffff;
  min-height: 100vh;
  /*position: fixed;*/ }

.menu a {
  display: block;
  padding: 10px 5px 10px 20px;
  border-left: 2px solid #D2D7D3;
  font-size: 20px;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.3s ease-in; }
  .menu a:hover {
    background-color: #00BFC0;
    border-left: 2px solid #34495E;
    color: #ffffff;
    text-decoration: none; }

.mapCont {
  overflow: hidden; }

.mapCont, #map-canvas {
  height: 500px;
  min-height: 500px;
  width: 100%; }

h3.screenTitle {
  margin: 20px 0;
  color: lblue;
  padding-bottom: 5px;
  border-bottom: 2px solid #00BFC0; }

.infowindowtxt {
  font-size: 20px; }

.areaInfoCont {
  margin: 50px 0;
  background-color: #ffffff; }

.areaInfoCont {
  padding-bottom: 50px; }

.areaInfo {
  margin-bottom: 5px; }

.areaInfoVal {
  border-bottom: 1px dotted #00BFC0; }

.weatherTitle {
  font-weight: 600;
  font-size: 20px; }

.weatherTxt {
  margin-top: 20px; }

.weatherPrediction {
  padding: 10px; }
  .weatherPrediction:not(:nth-of-type(2)) {
    background-color: #00BFC0;
    color: #ffffff; }

.statusCont {
  margin-bottom: 10px;
  text-align: center; }
  .statusCont div {
    display: inline-block;
    float: left;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    background-color: #CF000F;
    color: #ffffff;
    height: 65px;
    width: 130px;
    line-height: 41px; }
  .statusCont .stationStatus.ok, .statusCont .stationAccessibility.ok {
    background-color: #87D37C;
    color: #ffffff; }

.icon {
  position: relative;
  display: block;
  width: 150px;
  height: 105px;
  font-size: 1.5rem;
  /* control icon size here */
  color: #00BFC0;
  margin: 0 auto;
  margin-top: 80px; }

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: #00BFC0;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff; }
  .cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: #00BFC0;
    box-shadow: 0 0.4375em 0 -0.0625em #fff; }
  .cloud:nth-child(2) {
    z-index: 0;
    background: #00BFC0;
    box-shadow: -2.1875em 0.6875em 0 -0.6875em #00BFC0, 2.0625em 0.9375em 0 -0.9375em #00BFC0, 0 0 0 0.375em #00BFC0, -2.1875em 0.6875em 0 -0.3125em #00BFC0, 2.0625em 0.9375em 0 -0.5625em #00BFC0;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite; }
    .cloud:nth-child(2):after {
      background: #00BFC0; }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #00BFC0;
  animation: spin 12s infinite linear; }

.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #00BFC0;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #00BFC0; }
  .rays:before, .rays:after {
    content: '';
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    width: 0.375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #00BFC0;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #00BFC0; }
  .rays:before {
    transform: rotate(120deg); }

.cloud + .sun {
  margin: -2em 1em; }

.rain, .lightning, .snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: transparent; }

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #87D37C;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite; }

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #00BFC0;
  opacity: 0.3;
  animation: lightning 2s linear infinite; }
  .bolt:nth-child(2) {
    width: 0.5em;
    height: 0.25em;
    margin: -1.75em 0 0 -1.875em;
    transform: translate(2.5em, 2.25em);
    opacity: 0.2;
    animation: lightning 1.5s linear infinite; }
    .bolt:nth-child(2):before {
      margin: -0.75em 0 0 -0.5em;
      border-top: 0.625em solid transparent;
      border-right: 0.375em solid;
      border-bottom: 0.375em solid;
      border-left: 0.25em solid transparent; }
    .bolt:nth-child(2):after {
      margin: -0.125em 0 0 -0.125em;
      border-top: 0.375em solid;
      border-right: 0.25em solid transparent;
      border-bottom: 0.625em solid transparent;
      border-left: 0.375em solid; }
  .bolt:before, .bolt:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -1.625em 0 0 -1.0125em;
    border-top: 1.25em solid transparent;
    border-right: 0.75em solid;
    border-bottom: 0.75em solid;
    border-left: 0.5em solid transparent;
    transform: skewX(-10deg); }
  .bolt:after {
    margin: -0.25em 0 0 -0.25em;
    border-top: 0.75em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 1.25em solid transparent;
    border-left: 0.75em solid;
    transform: skewX(-10deg); }

.flake:before, .flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #00BFC0;
  list-height: 1em;
  opacity: 0.2;
  animation: spin 8s linear infinite reverse; }

.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite; }

.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  animation: spin 10s linear infinite; }

.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse; }

/* Animations */
@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes cloud {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em); } }

@keyframes rain {
  0% {
    background: #87D37C;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #87D37C; }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #87D37C, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #87D37C, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #87D37C; } }

@keyframes lightning {
  45% {
    color: #00BFC0;
    background: #00BFC0;
    opacity: 0.2; }
  50% {
    color: #87D37C;
    background: #87D37C;
    opacity: 1; }
  55% {
    color: #00BFC0;
    background: #00BFC0;
    opacity: 0.2; } }

/*# sourceMappingURL=style.css.map */
